.above-form-container {
  width: 40vw;
  height: auto;
  background: #ced3dc;
  margin: auto;
  margin-top: 8%;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  padding: 10px 20px;

}
.bottom-form-container {
  width: 40vw;
  height: auto;
  background: #ced3dc;
  margin: auto;
  margin-top: 5%;
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  padding: 10px 20px;
}