.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 5vw;
  font-size: 1.3rem;
  border-bottom: 1px solid #7f98a8be;

}
.logo {
  margin-left: 10vw;
  padding-bottom: 2px;
  transition: all .2s ease-in-out;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.nav-items {
  display: flex;
  flex-direction: row;
  margin-right: 10vw;
  font-weight: 400;
  font-size: 1.35rem;
}
.nav-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 3vw;
  transition: all .2s ease-in-out;
}
.nav-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

